*~
*class
**/target
**/.inc
**/*.lock
**/a.out
**/*.ali
**/*.o
**/*.stderr
**/*.stdout
**/*.bexch
/scala/*/project/target
/scala/*/*.hnir
Manifest.toml
/go/news/news
/go/palindromes/palindromes
*.adb
*.ads
/ada/pi/pi
/go/palindromes/palindromes-arm-linux
/go/multiply/main
/go/news/news_darwin_amd64
/go/news/news_linux_arm64
/go/news/main
/zig/factorial
/zig/hello
/zig/tree
/zig/zig-cache/
/freepascal/threads/threads
/c/sig/*.gch
/c/sig/runfft
/go/multiply/multiply
